.container {
  position: relative;
  z-index: 1;
}

.btn {
  font-family: var(--RaptorMonoMedium);
  text-align: center;
  font-size: 1.6rem;
  white-space: nowrap;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  gap: 2rem;
  border-radius: 50px;
  padding: 12px 30px;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.3s ease-in;
  overflow: hidden; /* Ensure pseudo-element stays within bounds */
  border: 1px solid transparent; /* Start with transparent border */
  transition: color 0.3s ease-in, border-color 0.3s ease-in; /* Animate border */
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start off-screen */
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: -1; /* Place it behind the button content */
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); /* Initial state */
}

.btn:hover::before {
  transform: translateX(100%); /* Slide in from the left */
}

.btn:hover {
  color: var(--white); /* Change text color */
  border-color: var(--yellow); /* Make border visible */
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--black);
}

.white {
  color: var(--black);
  background-color: var(--white);
}

/* Default pulsating circle */
.pulseWrapper:hover .pulse {
  background-color: var(--white);
}

.pulse {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--umber);
  animation: pulse-animation 1.5s infinite;
  position: relative;
}

/* Keyframes for pulsating effect */
@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* White button hover state */
.white:hover {
  background-color: var(--umber);
  color: var(--white);
}

/* Change pulsating circle color when hovering over the button */
.white:hover .pulse {
  background-color: var(--white);
}
.whiteOutline {
  border: 2px solid var(--white);
  color: var(--white);
  background-color: var(--umber);
}

/* WhiteOutline button hover state */
.whiteOutline:hover {
  background-color: var(--white);
  color: var(--umber);
  border: 2px solid var(--umber);
}

/* Default pulsating circle for whiteOutline */
.whiteOutline .pulse {
  background-color: var(--white); /* White pulse by default */
}

/* Pulsating circle hover effect for whiteOutline */
.whiteOutline:hover .pulse {
  background-color: var(--umber); /* Remains white on hover */
}

.arrow {
  transform: rotate(180deg);
  width: 2.5rem;
  height: 2.5rem;
  /* position: absolute;
  right: 13px; */
}
