.dataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.125;
}

.dataContainer {
  margin: 5rem 10rem;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.card {
  padding: 3rem;
  border-right: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.card:nth-child(3) {
  border-right: none;
}

.cardTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.title,
.copy {
  font-size: 1.6rem;
}

.copy {
  opacity: 0.7;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--black);
}

.bottomRight {
  background-color: var(--lightOlive);
  padding: 2rem;
  border-radius: 10px;
}

.price {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--orange);
}

.details {
  margin-top: 2rem;
}

.collapsibleSection {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }

  .dataContainer {
    margin: 5rem;
  }

  .bottom {
    gap: 3rem;
  }
}

@media screen and (max-width: 868px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .dataContainer {
    margin: 5rem 0rem;
  }
}

@media screen and (max-width: 568px) {
  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    border-right: none;
    border-bottom: 1px solid var(--black);
  }

  .card:nth-child(3) {
    border-bottom: none;
  }

  .btnContainer,
  .btnContainerii {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
