.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navContainer {
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  width: 100%;
  max-width: 1500px;
  padding: 15rem 0rem;
}

.actualContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 15px;
  padding: 2rem;
  will-change: transform, opacity;
  z-index: 9;
  flex: 4;
  width: 100%;
}

.heading {
  color: var(--white);
  text-align: center;
}

.copy {
  color: var(--white);
  font-size: 2rem;
  font-family: var(--RaptorMonoMedium);
  width: 60%;
  text-align: center;
}

.btnContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  width: 60%;
}

@media screen and (max-width: 968px) {
  .content,
  .actualContent {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .actualContent {
    height: fit-content;
  }

  .right {
    display: none;
  }

  .btnContainer {
    width: 100%;
  }
}

@media screen and (max-width: 870px) {
  .navContainer {
    top: -36px;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  /* .parent {
    height: 50vh;
  } */

  .content {
    padding: 12rem 0rem;
  }

  .actualContent {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .copy {
    text-align: left;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
