.section {
  border-bottom: 1px solid var(--orange);
  padding: 1.5rem 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.title {
  font-weight: bold;
  margin: 0;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 3rem;
  color: var(--orange);
  user-select: none;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  padding-top: 1rem;
}

.content p {
  color: var(--orange);
}

.contentOpen {
  max-height: 500px; /* Set a max-height large enough to fit the content */
  opacity: 1;
}
