.btn {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-size: 2rem;
  border: 1px solid var(--black);
}

.btn:hover {
  background-color: var(--yellow);
  color: var(--black);
}
