.container {
  background-color: var(--olive);
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
}

.left {
  color: var(--white);
  font-size: 2rem;
  line-height: 1.6;
  width: 90%;
}

.heading {
  color: var(--white);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media screen and (max-width: 568px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading,
  .left {
    text-align: center;
  }
} */
