.container {
  position: relative;
  height: 100%;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.img {
  object-fit: cover;
}

.navContainer {
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actualContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  border-radius: 15px;
  padding: 2rem;
  z-index: 9;
  flex: 4;
  width: 100%;
  max-width: 100%;
  padding: 15rem 0rem;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  justify-self: flex-start;
  position: relative;
}

.heading {
  color: var(--white);
}

.copy {
  color: var(--white);
  font-size: 2rem;
  font-family: var(--RaptorMonoMedium);
  width: 50%;
}

.hoursBox {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.hours,
.date,
.time {
  color: var(--white);
}

.hours {
  font-size: 2.5rem;
}

.date,
.time {
  font-family: var(--RaptorMonoMedium);
  font-size: 2rem;
}

.dataBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 2rem;
}

.card {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 15px;
}

.iconContainer {
  margin-bottom: 4rem;
}

.detailsArrowBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.icon,
.arrow {
  width: 3rem;
  height: 3rem;
}

.da2 {
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0.7rem;
}

.arrow {
  transform: rotate(180deg);
}

.title,
.dataCopy {
  color: var(--black);
  font-family: var(--RaptorMonoMedium);
  margin-top: 1rem;
  width: 90%;
}

.title {
  font-size: 2rem;
  font-family: var(--RaptorTextSemiBold);
}

@media screen and (max-width: 1068px) {
  .content,
  .actualContent,
  .hoursBox {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    width: 70%;
  }

  .actualContent {
    height: fit-content;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  .navContainer {
    top: -36px;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .dataBox {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .title,
  .dataCopy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    padding: 12rem 0rem;
  }

  .actualContent,
  .hoursBox {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .copy {
    text-align: left;
  }
}
