.bottomii {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background-color: var(--gray);
  padding: 10rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.text {
  text-align: center;
}

.icon {
  opacity: 0.6;
}


@media screen and (max-width: 768px) {
  .bottomii {
    flex-wrap: wrap;
  }
}