.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.navContainer {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 99999;
}