.icon {
  width: 25px;
  height: 25px;
  color: var(--white);
  cursor: pointer;
}

.black {
  color: var(--black);
}

.UserName {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-family: var(--pretendard);
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 10rem;
}

.btn,
.loginBtn {
  font-family: var(--pretendard);
  text-align: center;
  font-size: 1.6rem;
  white-space: nowrap;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  flex: 1;
  gap: 2rem;
  border-radius: 50px;
  padding: 15px 30px;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.3s ease-in;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
