.container {
  display: flex;
  gap: 2rem;
}

.price {
  font-size: 2.5rem;
  font-family: var(--RaptorMonoMedium);
}

.strikethrough {
  text-decoration: line-through;
  color: var(--black);
  font-family: var(--pretendard);
  opacity: 0.5;
}

.discountedPrice {
  font-size: 2.5rem;
  font-family: var(--RaptorMonoMedium);
}
