.container {
  display: flex;
  gap: 8px;
}

.price {
  /* Normal price styling */
  font-family: var(--pretendard);
}

.strikethrough {
  text-decoration: line-through;
  color: var(--black);
  font-family: var(--pretendard);
  opacity: 0.7;
}

.discountedPrice {
  font-family: var(--pretendard);
  color: var(--black);
}
