.container {
  background-color: var(--olive);
  background-image: linear-gradient(#5e6345 1px, transparent 1px),
    linear-gradient(to right, #5e6345 1px, transparent 1px);
  background-size: 100px 100px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  color: var(--white);
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  font-size: 2rem;
  color: var(--yellow);
  width: 70%;
  line-height: 150%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .copy {
    width: 100%;
  }
}
