.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  background-color: var(--white);
  padding: 3rem 0rem;
}

.track {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scroll 30s linear infinite;
  gap: 10rem;
}

.spanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 5rem;
  height: 5rem;
  color: var(--olive);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover .track {
  animation-play-state: paused !important;
}
