.header {
  width: calc(100% - 100px);
  z-index: 10000;
  margin-bottom: -5rem;
  background-color: var(--yellow);
  /* border: 1px solid var(--black); */
  padding: 1rem 3rem;
  border-radius: 6px;
  position: fixed;
  top: 30px;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.right {
  display: flex;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.three {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .right {
    flex-direction: row-reverse;
    gap: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .header {
    width: calc(100% - 50px);
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
