.logo {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2.5rem;
  letter-spacing: -1px;
  z-index: 1001;
  white-space: nowrap;
  user-select: none;
}

.icon {
  width: 2.7rem;
  height: 2.7rem;
  color: var(--black);
}

.black {
  color: var(--black);
}

.large {
  font-size: 4rem;
  line-height: 0;
}

.largeIcon {
  height: 4rem;
  width: 4rem;
}
